@import "../../pages/variables.scss";

.app {
  background-color: $background-color;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  color: $text-color;
  font-family: 'Inter', serif;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}