@import "../../pages/variables.scss";

.header {
  @include content-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: $header-height;
  z-index: 3;

  &__menu {
    @include flexible-center;
    gap: 30px;
  }


  &__profile {
    @include flexible-center;
    gap: 17px;

    &-button {
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $text-color;
    }
  }

  &__signup {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $text-color;
    text-decoration: none;
  }

  &__signin {
    padding: 8px 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    box-sizing: border-box;
    background-color: $green-button;
    color: $black-text;
    border-radius: 3px;
    text-decoration: none;
  }

  &__logo-block {
    background-color: $inactive-icon;
    border-radius: 4px;
    width: 26px;
    height: 30px;
    @include flexible-center;
  }
}