@import "../../pages/variables.scss";

.header {
  @include content-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: $header-height;
  z-index: 5;
  position: relative;

  &__menu {
    @include flexible-center;
    gap: 30px;
  }

  &__signup {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $text-color;
    text-decoration: none;
  }

  &__signin {
    padding: 8px 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    box-sizing: border-box;
    background-color: $green-button;
    color: $black-text;
    border-radius: 3px;
    text-decoration: none;
  }

  &__menu-burger {
    display: none;
  }

  &_promo {
    background-color: $banner-background;
  }
}

@media (max-width: 768px) {
  .header {
    @include content-box-header;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $background-color;
    border-bottom: 1px solid $timeline-background;

    &__menu-burger {
      z-index: 5;
      display: block;
      width: 28px;
      height: 20px;
      cursor: pointer;
      position: fixed;
      top: 26px;
      right: 30px;

      & &-span, &::before, &::after {
        position: absolute;
        left: 0;
        height: 3px;
        width: 28px;
        transition: all 0.3s ease 0s;
        background-color: $text-color;
        z-index: 5;
      }

      &::before {
        content: "";
        top: 0;
      }

      &::after {
        content: "";
        bottom: 0;
      }

      & &-span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }

      &_active {
        width: 22px;
        height: 22px;
      }

      &_active &-span {
        transform: scale(0) translate(0px, -50%);
      }

      &_active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
      }

      &_active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
      }
    }

    &_promo {
      background-color: $banner-background;
    }
  }
}